<div class = "center jumbotron">
  <h1>Tap用アプリ</h1>
  <h2>
  ~日本の穴場スポット~
  <p>find your hidden jems</p>
  </h2>

  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="image">
  <%= image_tag "tap_image.jpg", alt: "image", width: 500 %>
</div>
